$primary-gradient: #efefef;
$secondary-gradient: #d8d8d8;
$table-cell-padding:14px;
$table-bg:transparent;
$table-bg-accent:#fff;
$table-bg-hover:#f7f8fb;
$table-bg-active: $table-bg-hover;
$table-head: rgb(99, 99, 99);
$td-box-shadow: 0 3px 2px rgba(0,0,0,.08);
$table-text: #777;
$table-cell-hover: #444;
$container-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$table-font-size: 13px;

// tabs

$tab-border-color: #000;
$light: #fff;
$tab-indicator: #06c;
